# Logs
03-counter-app/logs
03-counter-app/*.log
03-counter-app/npm-debug.log*
03-counter-app/yarn-debug.log*
03-counter-app/yarn-error.log*
03-counter-app/pnpm-debug.log*
03-counter-app/lerna-debug.log*

04-gif-expert-app/logs
04-gif-expert-app/*.log
04-gif-expert-app/npm-debug.log*
04-gif-expert-app/yarn-debug.log*
04-gif-expert-app/yarn-error.log*
04-gif-expert-app/pnpm-debug.log*
04-gif-expert-app/lerna-debug.log*

05-hook-app/logs
05-hook-app/*.log
05-hook-app/npm-debug.log*
05-hook-app/yarn-debug.log*
05-hook-app/yarn-error.log*
05-hook-app/pnpm-debug.log*
05-hook-app/lerna-debug.log*



03-counter-app/node_modules
03-counter-app/dist
03-counter-app/dist-ssr
03-counter-app/*.local

04-gif-expert-app/node_modules
04-gif-expert-app/dist
04-gif-expert-app/dist-ssr
04-gif-expert-app/*.local

05-hook-app/node_modules
05-hook-app/dist
05-hook-app/dist-ssr
05-hook-app/*.local

# Editor directories and files
03-counter-app/.vscode/*
03-counter-app/!.vscode/extensions.json
03-counter-app/.idea
03-counter-app/.DS_Store
03-counter-app/*.suo
03-counter-app/*.ntvs*
03-counter-app/*.njsproj
03-counter-app/*.sln
03-counter-app/*.sw?

04-gif-expert-app/.vscode/*
04-gif-expert-app/!.vscode/extensions.json
04-gif-expert-app/.idea
04-gif-expert-app/.DS_Store
04-gif-expert-app/*.suo
04-gif-expert-app/*.ntvs*
04-gif-expert-app/*.njsproj
04-gif-expert-app/*.sln
04-gif-expert-app/*.sw?


05-hook-app/.vscode/*
05-hook-app/!.vscode/extensions.json
05-hook-app/.idea
05-hook-app/.DS_Store
05-hook-app/*.suo
05-hook-app/*.ntvs*
05-hook-app/*.njsproj
05-hook-app/*.sln
05-hook-app/*.sw?
